@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Recursos Humanos</h1>
    <p class="lead">Aplicación de gestión de recursos humanos.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Repositorio &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Módulo de Mantenimiento</h2>
        <p>
            Crear, ver, modificar y eliminar los empleados, departamentos y cargos de la empresa.
        </p>
        @Html.ActionLink("Mantenimiento »", "Mantenimiento","Home", new { @class="btn btn-default"})
    </div>
	<div class="col-md-4">
		<h2>Módulo de Procesos</h2>
		<p>
			Configurar procesos y acciones: cálculo de nómina, salida de empleados, vacaciones, permisos y licencias.
		</p>
		@Html.ActionLink("Procesos »", "Procesos", "Home", new { @class = "btn btn-default" })
	</div>
	<div class="col-md-4">
		<h2>Módulo de Informes</h2>
		<p>Generar y revisar  informes de: nóminas, empleados activos, empleados inactivos, departamentos, cargos y permisos. </p>
		@Html.ActionLink("Informes »", "Informes", "Home", new { @class = "btn btn-default" })
	</div>
</div>